<div class="row">
    <loading-object ng-show="loading"></loading-object>
    <div class="homepage-container">
    <div class="post-container" ng-repeat="post in posts">
        <a href="#!post/{{post.id}}">
            <post-preview post-body="post.body" post-title="post.title" post-id="post.id" list-format="true">
            </post-preview>
        </a>
    </div>
</div>
</div>