<div class="row">
    <loading-object ng-show="loading"></loading-object>
    <div class="postpage-container">
        <div class="post-container">
            <post-preview post-body="post.body" post-title="post.title" post-id="post.id" list-format="false">
            </post-preview>
        </div>
    </div>
</div>