html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body{
    height: 100%;
}
a{
    text-decoration: none;
}
body{
    font-family: sans-serif;
    background-color: #dfdfdf;
    white-space: normal;
}
.container:after, .container:before,
.row:after, .row:before {
    display: table;
    content: " ";
    clear: both;
}
.container{
    position: relative;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.homepage-container{
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    float: left;
}
.postpage-container{
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.post-container{
    border-radius: 7px;
    background-color: #ffffff;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding: 20px;
    line-height: 20px;
}
.post-container h1, .post-container p{
    color: #707070;
}
.post-title{
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: bold;
}

.post-body{
    font-size: 0.9rem;
    margin-top: 20px;
}
.list-format .post-body{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #cd34db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
  z-index: 2;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin{
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}
@media (min-width: 992px) {
    .homepage-container{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 50%;
    }
    .postpage-container{
        max-width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}